// ==== Colors ==== //
$primary-green: #b5c02c;
$primary-black: #2d271b;
$primary-blue: #2bb8c1;
$primary-grey: #767676;
$secondary-grey: #aeaeae;
$tertiary-grey: #f4f4f4;
$bg-grey: #fbfbfb;


// ==== Colors - Status ==== //
$invalid: #d8749c;
$complete: #bbabe3;
$activity: #fa6c6c;

// ==== Radius ==== //
$section-radius: 12px;
$primary-radius: 12px;

// ==== Button ==== //
._primary-btn {
  background-color: $primary-green;
  color: white !important;
  border-radius: 10px;
  border: none;
}

._normal-btn {
  border-radius: 10px;
  background-color: $tertiary-grey;
  color: $primary-grey;
  border: none;
}

._bottom-box {
  position: fixed;
  height: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
}

._bottom-box-two {
  position: fixed;
  height: 110px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
}

._next-btn {
  position: relative;
  width: calc(100% - 26px);
  height: 40px;
  margin-top: 10px;
  margin-left: 13px;
  position: fixed;
  color: white;
  border-radius: 12px;
  background-color: $primary-green;
}

._update-btn {
  position: relative;
  width: calc(100% - 26px);
  height: 40px;
  margin-top: 10px;
  margin-left: 13px;
  color: $primary-green;
  border: $primary-green solid 1px;
  border-radius: 12px;
}


.dash-divde {
  border: 1px grey dashed;
}

// ==== Section ==== //
._section {
  margin-bottom: 6px;
}

._section-title {
  color: $primary-black;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.el-form-item__content {
  line-height: 20px !important;
}

._section-sub-title {
  color: $secondary-grey;
  font-size: 14px;
  margin-bottom: 10px;
}



// ==== Title ==== //
.main-title {
  color: $primary-green;
}



// ==== Content ==== //
._text-sm {
  font-size: 12px;
}

._card-content {
  font-size: 12px;
  color: $primary-grey;
  white-space:pre-wrap;
}


// ==== Layout ==== //
._flex-between {
  display: flex;
  justify-content: space-between;
}

._flex-center{
  display: flex;
  justify-content: center;
}

._flex-col{
  display: flex;
  flex-direction: column;
}

._flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// ==== Container ==== //
._card {
  border-radius: 5px;
  background: $tertiary-grey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}



.px-5 {
  padding-right: 10px;
  padding-left: 10px;
}

.pa-2 {
  padding: 10px;
}

.pa-5 {
  padding: 13px;
}

.pages{
  padding-top: 80px;
  padding-bottom: 40px;
}

.active {
  color: white;
  background: $primary-green;
}